body {
  margin: 0px;
  padding: 0px;
  background-color: #f5bc7c;
 }
 .header {
   text-align: center;
   text-shadow: 1px 1px #0f0f0f;
   font-size: 1.3rem;
   color: #fd8a04;
   margin-top: 40px;
 
 }
 .container {
 width: 100%;
 margin: 2% auto;
 margin-left: 35%;
 }
 
 
 h3 {
   padding: ;
   color: #fd8a04;
 }
 
 .main-form {
   margin-bottom: 50px;
   border: 1px solid #fd8a04;
   border-top: 15px solid #fd8a04;
   padding: 5px;
   background: #e2ee61;
   border-radius: 10px;
   height: auto;
   width: 30%;
   font-family: sans-serif;
   font-size: 0.7rem;
   font-weight: bolder;
   padding-left: 5%;
 }
 .content {
   padding: 5px;
   color: rgb(134, 134, 134);
   
 
 }
 .color {
   color: rgb(134, 134, 134);
   margin-bottom: 5px;
 }
 
 .color input {
   width: 70px;
   padding: 5px;
 
 }
 
 input{
   padding: 10px;
   width: 70%;
   border-radius: 10px;
   border: 1px solid #fd8a04;
   background-color: rgb(224, 215, 215);;
 
 }
 
 select {
   margin-right: 37px;
   width: 70px;
   border-radius: 0px;
   padding: 3px;
   background-color: rgb(224, 215, 215);
   border: 1px solid #fd8a04;
 
 }
 
 .submit-btn input {
   background-color: #fd8a04;
   width: 65px;
   padding: 5px;
   cursor: pointer;
 
 }
 
 
 @media only screen and (max-width: 750px) {
   .container {
     width: 100%;
     margin: 2% auto;
     margin-left: 0px;
     }
 
   .main-form {
     width: 70%;
     margin-right: 5%;
     margin-left: 10%;
   }
   
 }
 